.current {
  color: green;
}

.effect {
    display: block;
    width: 500px;
    height: 300px;
    float: left;
    margin: 10px;
    background-color: red;
    border: 1px solid #DDD;
}

.btn-space {
    margin-right: 5px;
}
